<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-[Chapter-09]-추천-시스템" data-toc-modified-id="1.-[Chapter-09]-추천-시스템-1">1. [Chapter 09] 추천 시스템</a></span><ul class="toc-item"><li><span><a href="#1.1-추천-시스템의-개요와-배경" data-toc-modified-id="1.1-추천-시스템의-개요와-배경-1.1">1.1 추천 시스템의 개요와 배경</a></span></li><li><span><a href="#1.2-콘텐츠-기반-필터링-추천-시스템" data-toc-modified-id="1.2-콘텐츠-기반-필터링-추천-시스템-1.2">1.2 콘텐츠 기반 필터링 추천 시스템</a></span></li><li><span><a href="#1.3-최근접-이웃-협업-필터링" data-toc-modified-id="1.3-최근접-이웃-협업-필터링-1.3">1.3 최근접 이웃 협업 필터링</a></span></li><li><span><a href="#1.4-잠재-요인-협업-필터링" data-toc-modified-id="1.4-잠재-요인-협업-필터링-1.4">1.4 잠재 요인 협업 필터링</a></span><ul class="toc-item"><li><span><a href="#1.4.1-행렬-분해의-이해" data-toc-modified-id="1.4.1-행렬-분해의-이해-1.4.1">1.4.1 행렬 분해의 이해</a></span></li><li><span><a href="#1.4.2-확률적-경사-하강법(SGD)을-이용한-행렬-분해" data-toc-modified-id="1.4.2-확률적-경사-하강법(SGD)을-이용한-행렬-분해-1.4.2">1.4.2 확률적 경사 하강법(SGD)을 이용한 행렬 분해</a></span></li></ul></li><li><span><a href="#1.5-콘텐츠-기반-필터링-실습---TMDB-5000-영화-데이터-세트" data-toc-modified-id="1.5-콘텐츠-기반-필터링-실습---TMDB-5000-영화-데이터-세트-1.5">1.5 콘텐츠 기반 필터링 실습 - TMDB 5000 영화 데이터 세트</a></span><ul class="toc-item"><li><span><a href="#1.5.1-데이터-로딩-및-가공" data-toc-modified-id="1.5.1-데이터-로딩-및-가공-1.5.1">1.5.1 데이터 로딩 및 가공</a></span></li><li><span><a href="#1.5.2-장르-콘텐츠-유사도-측정" data-toc-modified-id="1.5.2-장르-콘텐츠-유사도-측정-1.5.2">1.5.2 장르 콘텐츠 유사도 측정</a></span></li><li><span><a href="#1.5.3-장르-콘텐츠-필터링을-이용한-영화-추천" data-toc-modified-id="1.5.3-장르-콘텐츠-필터링을-이용한-영화-추천-1.5.3">1.5.3 장르 콘텐츠 필터링을 이용한 영화 추천</a></span></li></ul></li><li><span><a href="#1.6-아이템-기반-최근접-이웃-협업-필터링-실습" data-toc-modified-id="1.6-아이템-기반-최근접-이웃-협업-필터링-실습-1.6">1.6 아이템 기반 최근접 이웃 협업 필터링 실습</a></span><ul class="toc-item"><li><span><a href="#1.6.1-데이터-가공-및-변환" data-toc-modified-id="1.6.1-데이터-가공-및-변환-1.6.1">1.6.1 데이터 가공 및 변환</a></span></li><li><span><a href="#1.6.2-영화-간-유사도-산출" data-toc-modified-id="1.6.2-영화-간-유사도-산출-1.6.2">1.6.2 영화 간 유사도 산출</a></span></li><li><span><a href="#1.6.3-아이템-기반-최근접-이웃-협업-필터링으로-개인화된-영화-추천" data-toc-modified-id="1.6.3-아이템-기반-최근접-이웃-협업-필터링으로-개인화된-영화-추천-1.6.3">1.6.3 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천</a></span></li></ul></li><li><span><a href="#1.7-행렬-분해를-이용한-잠재-요인-협업-필터링-실습" data-toc-modified-id="1.7-행렬-분해를-이용한-잠재-요인-협업-필터링-실습-1.7">1.7 행렬 분해를 이용한 잠재 요인 협업 필터링 실습</a></span></li><li><span><a href="#1.8-파이썬-추천-시스템-패키지---Surprise" data-toc-modified-id="1.8-파이썬-추천-시스템-패키지---Surprise-1.8">1.8 파이썬 추천 시스템 패키지 - Surprise</a></span><ul class="toc-item"><li><span><a href="#1.8.1-Surprise를-이용한-추천-시스템-구축" data-toc-modified-id="1.8.1-Surprise를-이용한-추천-시스템-구축-1.8.1">1.8.1 Surprise를 이용한 추천 시스템 구축</a></span></li><li><span><a href="#1.8.2-Surprise-주요-모듈-소개" data-toc-modified-id="1.8.2-Surprise-주요-모듈-소개-1.8.2">1.8.2 Surprise 주요 모듈 소개</a></span></li><li><span><a href="#1.8.3-Surprise-추천-알고리즘-클래스" data-toc-modified-id="1.8.3-Surprise-추천-알고리즘-클래스-1.8.3">1.8.3 Surprise 추천 알고리즘 클래스</a></span></li><li><span><a href="#1.8.4-베이스라인-평점" data-toc-modified-id="1.8.4-베이스라인-평점-1.8.4">1.8.4 베이스라인 평점</a></span></li><li><span><a href="#1.8.5-교차-검증과-하이퍼-파라미터-튜닝" data-toc-modified-id="1.8.5-교차-검증과-하이퍼-파라미터-튜닝-1.8.5">1.8.5 교차 검증과 하이퍼 파라미터 튜닝</a></span></li><li><span><a href="#1.8.6-Surprise를-이용한-개인화-영화-추천-시스템-구축" data-toc-modified-id="1.8.6-Surprise를-이용한-개인화-영화-추천-시스템-구축-1.8.6">1.8.6 Surprise를 이용한 개인화 영화 추천 시스템 구축</a></span></li></ul></li></ul></li></ul></div>

# 1. [Chapter 09] 추천 시스템

## 1.1 추천 시스템의 개요와 배경

- 추천 시스템의 유형 : 콘텐츠 기반 필터링 방식, 협업 필터링 방식(최근접 이웃 협업 필터링, 잠재 요인 협업 필터링)

초창기에는 콘텐츠 기반이나 최근접 이웃 협업 필터링이 주로 사용됐지만, 현재 대부분의 온라인 스토어에서 잠재 요인 협업 필터링 적용

개인화 특성을 좀 더 강화하기 위해 하이브리드 형식으로 콘텐츠 기반과 협업 기반을 적절히 결합하는 경우도 있음

## 1.2 콘텐츠 기반 필터링 추천 시스템

- **콘텐츠 기반 필터링 방식 : 사용자가 선호하는 아이템과 비슷한 콘텐츠를 가진 다른 아이템을 추천하는 방식** ex) 비슷한 장르, 감독, 배우

## 1.3 최근접 이웃 협업 필터링

- 협업 필터링 방식 : 사용자가 평가한 아이템을 기반으로 아직 평가하지 않은 아이템의 예측 평가를 도출하여 추천하는 방식

최근접 이웃 방식과 잠재 요인 방식 모두 사용자-아이템 평점 행렬 데이터에만 의지해 추천을 수행

사용자-아이템 평점 행렬의 행은 개별 사용자, 열은 개별 아이템, 값은 평점으로 구성되며, **pivot_table()** 함수로 형태 변경

일반적으로 많은 아이템을 열로 가지는 다차원 행렬이며, 사용자가 평점을 매기는 경우가 많지 않아 희소 행렬 특성을 가짐

최근접 이웃 협업 필터링은 메모리 협업 필터링이라고도 하며, 사용자 기반과 아이템 기반으로 나눌 수 있음

- **사용자 기반 최근접 이웃 방식 : 특정 사용자와의 유사도가 높은 TOP-N 사용자가 좋아하는 아이템을 추천하는 방식**

(Customers like you also bought these items.)


- **아이템 기반 최근접 이웃 방식 : 사용자들의 평가 척도가 유사한 아이템을 추천하는 방식**

(Customers who bought this item also bought these items.)

일반적으로 사용자 기반보다는 아이템 기반 협업 필터링의 정확도가 높기 때문에 **대부분 아이템 기반의 알고리즘.** 주로 코사인 유사도 이용

## 1.4 잠재 요인 협업 필터링

- **잠재 요인 협업 필터링 방식 : 사용자-아이템 평점 행렬 속의 잠재 요인을 추출해 추천하는 방식**

대규모 다차원 행렬을 차원 감소 기법으로 분해하는 과정에서 잠재 요인을 추출하는 **행렬 분해** 기반의 잠재 요인 협업 필터링

사용자-아이템 행렬 데이터를 사용자-잠재 요인 행렬과 잠재 요인-아이템 행렬로 분해한 후,

분해된 두 행렬의 내적을 통해 새로운 예측 사용자-아이템 평점 행렬 데이터를 만들어 아이템에 대한 예측 평점을 생성

(잠재 요인이 정확히 어떤 것인지 알 수 없으나, 영화 평점 기반의 사용자-아이템 행렬에서 장르별 특성 선호도로 해석할 수 있음)

### 1.4.1 행렬 분해의 이해

- 행렬 분해 : 다차원의 매트릭스를 저차원 매트릭스로 분해하는 기법 ex) SVD, NMF

SVD는 NaN 값이 없는 행렬에만 적용할 수 있으므로, 주로 확률적 경사 하강법 방식을 이용해 SVD 수행

### 1.4.2 확률적 경사 하강법(SGD)을 이용한 행렬 분해

P와 Q 행렬로 계산된 **예측 R 행렬 값이 실제 R 행렬 값과 최소의 오류를 가질 수 있도록 비용 함수 최적화를 통해 P와 Q를 유추함**

1) P와 Q를 임의의 행렬로 설정

2) P와 Q.T 값을 곱해 예측 R 행렬을 계산하고, 실제 R 행렬과의 오류 값 계산

3) 오류 값을 최소화하도록 P와 Q 행렬을 적절한 값으로 업데이트

4) 2,3번 작업을 반복하면서 P와 Q 값을 업데이트하여 근사화

## 1.5 콘텐츠 기반 필터링 실습 - TMDB 5000 영화 데이터 세트

anaconda 창에서 kaggle datasets download -d tmdb/tmdb-movie-metadata 입력하여 데이터 다운로드

### 1.5.1 데이터 로딩 및 가공

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

movies = pd.read_csv('./data/tmdb-movie-metadata/tmdb_5000_movies.csv')
print(movies.shape)
movies.head(3)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [2]:
df = movies[['id','title','genres','vote_average','vote_count','popularity','keywords','overview']]

In [3]:
pd.set_option('max_colwidth', 100)
df[['genres','keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

genres 칼럼에서 딕셔너리의 key인 'name'으로 개별 장르를 추출할 수 있으며, keywords 칼럼 역시 동일한 구조를 가짐

ast 모듈의 **literal_eval()** 함수를 이용하면 문자열을 list [dict1, dict2] 객체로 변환할 수 있음

In [4]:
from ast import literal_eval

df['genres'] = df['genres'].apply(literal_eval)
df['keywords'] = df['keywords'].apply(literal_eval)

In [5]:
df['genres'] = df['genres'].apply(lambda x: [y['name'] for y in x])
df['keywords'] = df['keywords'].apply(lambda x: [y['name'] for y in x])
df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

### 1.5.2 장르 콘텐츠 유사도 측정

1) 문자열로 변환된 genres 칼럼을 Count 기반으로 피처 벡터화 변환

2) 변환한 데이터 세트를 코사인 유사도를 통해 비교. 이를 위해 데이터 세트 레코드별로 타 레코드와 장르에서 유사도 값을 가지는 객체 생성

3) 장르 유사도가 높은 영화 중 평점이 높은 순으로 영화 추천

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환
df['genres_literal'] = df['genres'].apply(lambda x: (' ').join(x))
count_vec = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vec.fit_transform(df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

**argsort()[:, ::-1]**을 이용해 높은 순으로 정렬된 비교 행 위치 인덱스 값을 가져오고 0번 값만 샘플로 추출

In [10]:
genre_sim_sorted_idx = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_idx[:1])

[[   0 3494  813 ... 3038 3037 2401]]

0번 레코드의 경우 3494번 레코드, 813번 레코드 순으로 유사도가 높음

### 1.5.3 장르 콘텐츠 필터링을 이용한 영화 추천

In [11]:
# 장르 유사도에 따라 영화를 추천하는 함수 생성
def find_sim_movie(df, sorted_idx, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    
    title_idx = title_movie.index.values
    similar_idx = sorted_idx[title_idx, :(top_n)]
    
    print(similar_idx)
    similar_idx = similar_idx.reshape(-1)     # 1차원 array로 변경
    
    return df.iloc[similar_idx]

In [12]:
similar_movies = find_sim_movie(df, genre_sim_sorted_idx, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

영화 평점 정보인 vote_average 칼럼을 이용해 평점에 따라 필터링해서 최종 추천하는 방식으로 변경

그 전에 voto_average는 왜곡된 데이터를 가지고 있으므로, 이를 먼저 확인

In [13]:
df[['title','vote_average','vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

생소한 영화들이 평가 횟수는 매우 작고 평점은 높은 왜곡된 데이터를 가지고 있음

IMDB에서 사용하는 평가 횟수에 대한 가중치가 부여된 평점 방식을 이용해 새롭게 평점 부여 (C: 전체 영화의 평균 평점, m: 최소 투표 횟수)

In [19]:
C = df['vote_average'].mean()
m = df['vote_count'].quantile(0.6)     # 투표 횟수를 상위 60% 기준으로 정함
print('C: ', round(C, 3), 'm: ', round(m, 3))

C:  6.092 m:  370.2

In [20]:
def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ( (v/(v+m)) * R ) + ( (m/(m+v)) * C ) 

df['weighted_vote'] = df.apply(weighted_vote_average, axis=1)

In [21]:
df[['title','vote_average','weighted_vote','vote_count']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [22]:
# 새롭게 정의된 평점 기준에 따라 영화를 추천하는 함수 생성
def find_sim_movie(df, sorted_idx, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    title_idx = title_movie.index.values
    
    # top_n의 2배에 해당하는 장르 유사성이 높은 인덱스 추출
    similar_idx = sorted_idx[title_idx, :(top_n * 2)]
    similar_idx = similar_idx.reshape(-1)
    # 기준 영화 인덱스는 제외
    similar_idx = similar_idx[similar_idx != title_idx]
    
    return df.iloc[similar_idx].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(df, genre_sim_sorted_idx, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

## 1.6 아이템 기반 최근접 이웃 협업 필터링 실습

https://grouplens.org/datasets/movielens/latest/ (ml-latest-small)

### 1.6.1 데이터 가공 및 변환

In [1]:
import pandas as pd
import numpy as np

movies = pd.read_csv('./data/ml-latest-small/movies.csv')
ratings = pd.read_csv('./data/ml-latest-small/ratings.csv')
print(movies.shape)
print(ratings.shape)
movies.head(3)

(9742, 3)
(100836, 4)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [2]:
ratings.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

**pivot_table()** 함수를 이용해 사용자를 로우로, 영화를 칼럼으로 구성한 데이터 세트로 변경

In [3]:
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')
ratings_matrix.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# 칼럼명을 영화명으로 변경하기 위해 movies와 조인
rating_movies = pd.merge(ratings, movies, on='movieId')

# columns='title'로 title 칼럼으로 피벗 수행
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

# 평점이 NaN인 값을 모두 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 1.6.2 영화 간 유사도 산출

영화를 기준으로 cosine_similarity()를 적용하기 위해 **transpose()** 함수로 행과 열의 위치 변경

In [5]:
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# 반환된 넘파이 행렬을 영화명을 매핑해 df로 변환
item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns, columns=ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.0,0.0,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [7]:
item_sim_df['Godfather, The (1972)'].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

영화 '대부'와 유사도가 높은 영화를 추출한 결과, 콘텐츠 기반 필터링과는 달리 장르가 완전히 다른 영화도 유사도가 높게 나타남

### 1.6.3 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천

영화 간 유사도만을 가지고 추천하는 것은 개인적인 취향을 반영하지 못하므로,

개인이 관람하지 않은 영화에 대해 아이템 유사도와 기존 영화의 평점 데이터를 기반으로 새롭게 예측 평점을 계산하는 방식 사용

(사용자-영화 평점과 영화-영화 평점의 코사인 유사도를 벡터 내적 곱(dot)한 값을 정규화를 위해 코사인 유사도 벡터 합으로 나눔)

In [8]:
# 사용자별로 최적화된 평점 스코어를 예측하는 함수 생성
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [9]:
# 두 df를 넘파이 행렬로 변환해 인자로 입력
ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501

내적 결과를 코사인 유사도 벡터 합으로 나누었기 때문에 예측 평점이 실제 평점보다 작을 수 있음

기존에 평점이 부여된 데이터(nonzero)에 대해서만 오차 정도(MSE)를 측정

In [11]:
from sklearn.metrics import mean_squared_error

def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

print('아이템 기반 모든 최근접 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 최근접 이웃 MSE:  9.895354759094706

predict_rating() 함수는 많은 영화의 유사도 벡터를 이용하다 보니 상대적으로 평점 예측이 떨어짐

특정 영화와 가장 비슷한 유사도를 가지는 영화에 대해서만 유사도 벡터를 적용

In [18]:
import tqdm

def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)
    
    # 사용자-영화 평점 행렬의 열 크기만큼 루프 수행
    for col in tqdm.tqdm(range(ratings_arr.shape[1])):
        # 유사도가 큰 순으로 n개 데이터 행렬의 인덱스 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        
        # 개인화된 예측 평점 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
    return pred

In [19]:
import warnings
warnings.filterwarnings('ignore')

ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values))

ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)

100%|██████████████████████████████████████████████████████████████████████████████| 9719/9719 [02:01<00:00, 80.00it/s]

아이템 기반 최근접 TOP-20 이웃 MSE:  3.6949999176225483

9번 사용자에 대해 영화를 추천하기 위해 먼저 어떤 영화를 좋아하는지 확인

In [20]:
user_rating_id = ratings_matrix.loc[9, :]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Austin Powers in Goldmember (2002)                                                5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Producers, The (1968)                                                             5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Back to the Future (1985)                                                         5.0
Glengarry Glen Ross (1992)                                                        4.0
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                                     4.0
Name: 9, dtype: float64

In [21]:
# 평점을 주지 않은 영화를 리스트 객체로 반환하는 함수 생성
def unseen_movies(ratings_matrix, userId):
    user_rating = ratings_matrix.loc[userId, :]
    
    already_seen = user_rating[user_rating > 0].index.tolist()   # 기존에 관람한 영화
    movies_list = ratings_matrix.columns.tolist()                # 모든 영화
    
    # 모든 영화에서 기존에 관람한 영화를 제외
    unseen_list = [movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [23]:
# 최종적으로 사용자에게 영화를 추천하는 함수 생성
def recomm_movies(pred_df, userId, unseen_list, top_n=10):
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

unseen_list = unseen_movies(ratings_matrix, 9)
recomm_movies = recomm_movies(ratings_pred_matrix, 9, unseen_list, top_n=10)
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Shrek (2001)                                          0.866202
Spider-Man (2002)                                     0.857854
Last Samurai, The (2003)                              0.817473
Indiana Jones and the Temple of Doom (1984)           0.816626
Matrix Reloaded, The (2003)                           0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. H...    0.765159
Gladiator (2000)                                      0.740956
Matrix, The (1999)                                    0.732693
Pirates of the Caribbean: The Curse of the Blac...    0.689591
Lord of the Rings: The Return of the King, The ...    0.676711

## 1.7 행렬 분해를 이용한 잠재 요인 협업 필터링 실습

In [40]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P, Q.T)
    
    # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스 추출해 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_nonzero_idx = [non_zero[0] for non_zero in non_zeros]
    y_nonzero_idx = [non_zero[1] for non_zero in non_zeros]
    R_nonzeros = R[x_nonzero_idx, y_nonzero_idx]
    full_pred_matrix_nonzeros = full_pred_matrix[x_nonzero_idx, y_nonzero_idx]
    mse = mean_squared_error(R_nonzeros, full_pred_matrix_nonzeros)
    rmse = np.sqrt(mse)
    
    return rmse

In [41]:
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.01):
    num_users, num_items = R.shape
    
    # P와 Q 매트릭스의 크기를 지정하고 정규 분포를 가진 랜덤한 값으로 입력
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size=(num_users, K))
    Q = np.random.normal(scale=1./K, size=(num_items, K))
    
    prev_rmse = 10000
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장
    non_zeros = [ (i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0 ]
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트
    for step in range(steps):
        for i, j, r in non_zeros:
            # 실제 값과 예측 값의 차이인 오류 값
            eij = r - np.dot(P[i, :], Q[j, :].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i, :] = P[i, :] + learning_rate*(eij * Q[j, :] - r_lambda*P[i, :])
            Q[j, :] = Q[j, :] + learning_rate*(eij * P[i, :] - r_lambda*Q[j, :])
            
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step % 10) == 0:
            print('### iteration step: ', step, ' rmse: ', rmse)
            
    return P, Q

In [42]:
import pandas as pd
import numpy as np

movies = pd.read_csv('./data/ml-latest-small/movies.csv')
ratings = pd.read_csv('./data/ml-latest-small/ratings.csv')
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

rating_movies = pd.merge(ratings, movies, on='movieId')
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

In [43]:
P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda=0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step:  0  rmse:  2.9023619751336867
### iteration step:  10  rmse:  0.7335768591017927
### iteration step:  20  rmse:  0.5115539026853442
### iteration step:  30  rmse:  0.37261628282537446
### iteration step:  40  rmse:  0.29608182991810134
### iteration step:  50  rmse:  0.2520353192341642
### iteration step:  60  rmse:  0.22487503275269852
### iteration step:  70  rmse:  0.20685455302331537
### iteration step:  80  rmse:  0.19413418783028685
### iteration step:  90  rmse:  0.18470082002720403
### iteration step:  100  rmse:  0.17742927527209104
### iteration step:  110  rmse:  0.1716522696470749
### iteration step:  120  rmse:  0.1669518194687172
### iteration step:  130  rmse:  0.1630529219199754
### iteration step:  140  rmse:  0.15976691929679643
### iteration step:  150  rmse:  0.1569598699945732
### iteration step:  160  rmse:  0.15453398186715425
### iteration step:  170  rmse:  0.15241618551077643
### iteration step:  180  rmse:  0.1505508073962831
### iteration step:  190  rmse:  0.1488947091323209

In [44]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.055084,4.092018,3.564130,4.502167,3.981215,1.271694,3.603274,2.333266,5.091749,3.972454,...,1.402608,4.208382,3.705957,2.720514,2.787331,3.475076,3.253458,2.161087,4.010495,0.859474
2,3.170119,3.657992,3.308707,4.166521,4.311890,1.275469,4.237972,1.900366,3.392859,3.647421,...,0.973811,3.528264,3.361532,2.672535,2.404456,4.232789,2.911602,1.634576,4.135735,0.725684
3,2.307073,1.658853,1.443538,2.208859,2.229486,0.780760,1.997043,0.924908,2.970700,2.551446,...,0.520354,1.709494,2.281596,1.782833,1.635173,1.323276,2.887580,1.042618,2.293890,0.396941

In [46]:
def recomm_movies(pred_df, userId, unseen_list, top_n=10):
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

unseen_list = unseen_movies(ratings_matrix, 9)
recomm_movies = recomm_movies(ratings_pred_matrix, 9, unseen_list, top_n=10)
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                                    pred_score
title
Rear Window (1954)                                    5.704612
South Park: Bigger, Longer and Uncut (1999)           5.451100
Rounders (1998)                                       5.298393
Blade Runner (1982)                                   5.244951
Roger & Me (1989)                                     5.191962
Gattaca (1997)                                        5.183179
Ben-Hur (1959)                                        5.130463
Rosencrantz and Guildenstern Are Dead (1990)          5.087375
Big Lebowski, The (1998)                              5.038690
Star Wars: Episode V - The Empire Strikes Back ...    4.989601

## 1.8 파이썬 추천 시스템 패키지 - Surprise

Microsoft Visual Studio Build Tools 2015 이상의 버전 설치 후 Anaconda Prompt 관리자 실행

conda install -c conda-forge scikit-surprise 입력하여 surprise 패키지 설치

### 1.8.1 Surprise를 이용한 추천 시스템 구축

In [3]:
from surprise import SVD, Dataset, accuracy
from surprise.model_selection import train_test_split

data = Dataset.load_builtin('ml-100k')
train, test = train_test_split(data, test_size=.25, random_state=0)

Dataset ml-100k could not be found. Do you want to download it? [Y/n] y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to C:\Users\dalgo/.surprise_data/ml-100k

In [4]:
# SVD로 잠재 요인 협업 필터링 수행
algo = SVD()
algo.fit(train)

Surprise에서 추천을 예측하는 메서드는 test()와 predict() 두 개임

- **test()** : 사용자-아이템 평점 데이터 세트 전체에 대해서 추천을 예측


- **predict()** : 개별 사용자와 영화에 대한 추천 평점 반환

In [11]:
# test()로 예측
predictions = algo.test(test)
print('prediction type: ', type(predictions), ' size: ', len(predictions))
print('prediction 결과의 최초 5개 추출')
predictions[:5]

prediction type:  <class 'list'>  size:  25000
prediction 결과의 최초 5개 추출

[Prediction(uid='120', iid='282', r_ui=4.0, est=3.569640786628092, details={'was_impossible': False}),
 Prediction(uid='882', iid='291', r_ui=4.0, est=4.260627522346302, details={'was_impossible': False}),
 Prediction(uid='535', iid='507', r_ui=5.0, est=4.099479507271863, details={'was_impossible': False}),
 Prediction(uid='697', iid='244', r_ui=5.0, est=3.121989386328787, details={'was_impossible': False}),
 Prediction(uid='751', iid='385', r_ui=4.0, est=3.805062735947625, details={'was_impossible': False})]

In [12]:
[ (p.uid, p.iid, p.est) for p in predictions[:3]]

[('120', '282', 3.569640786628092),
 ('882', '291', 4.260627522346302),
 ('535', '507', 4.099479507271863)]

In [13]:
# predict()로 예측
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid)
print(pred)

user: 196        item: 302        r_ui = None   est = 4.00   {'was_impossible': False}

- **accuracy** : RMSE, MSE 등의 성능 평가 정보 제공

In [14]:
accuracy.rmse(predictions)

RMSE: 0.9473

0.9473117502947406

### 1.8.2 Surprise 주요 모듈 소개

- **Dataset.load_builtin(name='ml-100k')** : 무비렌즈 아카이브 FTP 서버에서 무비렌즈 데이터 다운 (ml-100k, ml-1M)


- **Dataset.load_from_file(file_path, reader)** : OS 파일에서 데이터를 로딩


- **Dataset.load_from_df(df, reader)** : 판다스의 DataFrame에서 데이터를 로딩

Surprise는 데이터의 첫 번째 칼럼을 사용자 아이디, 두 번째 칼럼을 아이템 아이디, 세 번째 칼럼을 평점으로 가정해 데이터 로딩 (네 번째부터는 로딩 X)

In [15]:
import pandas as pd

ratings = pd.read_csv('./data/ml-latest-small/ratings.csv')
# 칼럼 헤더를 삭제하고 새로운 파일로 저장
ratings.to_csv('./data/ml-latest-small/ratings_noh.csv', index=False, header=False)

**Reader** 객체 생성 시 line_format으로 4개의 칼럼을 명시하고, 각 칼럼의 분리 문자는 콤마, 평점의 단위는 0.5, 최대 평점은 5점으로 설정

In [22]:
# OS 파일 데이터를 로딩
from surprise import Reader

reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5, 5))
data = Dataset.load_from_file('./data/ml-latest-small/ratings_noh.csv', reader=reader)
train, test = train_test_split(data, test_size=.25, random_state=0)

algo = SVD(n_factors=50, random_state=0)
algo.fit(train)
predictions = algo.test(test)
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

In [24]:
# 판다스 DataFrame에서 데이터를 로딩
import pandas as pd
from surprise import Reader, Dataset

ratings = pd.read_csv('./data/ml-latest-small/ratings.csv')
reader = Reader(rating_scale=(0.5, 5))

data = Dataset.load_from_df(ratings[['userId','movieId','rating']], reader)
train, test = train_test_split(data, test_size=.25, random_state=0)

algo = SVD(n_factors=50, random_state=0)
algo.fit(train)
predictions = algo.test(test)
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

### 1.8.3 Surprise 추천 알고리즘 클래스

- **SVD** : 행렬 분해를 통한 잠재 요인 협업 필터링을 위한 SVD 알고리즘

    n_factors : 잠재 요인 K의 개수

    n_epochs : SGD 수행 시 반복 횟수, 디폴트는 20
    
    biased : 베이스라인 사용자 편향 적용 여부, 디폴트는 True
    
    
- **KNNBasic** : 최근접 이웃 협업 필터링을 위한 KNN 알고리즘


- **BaselineOnly** : 사용자 Bias와 아이템 Bias를 감안한 SGD 베이스라인 알고리즘

### 1.8.4 베이스라인 평점

- 베이스라인 평점 : 냉정하거나 관대한 개인의 성향을 아이템 평가에 편향성 요소로 반영하여 평점을 부과하는 것


- 베이스라인 평점 = 전체 평균 평점 + 사용자 편향 점수 + 아이템 편향 점수

    사용자 편향 점수 = 사용자별 아이템 평점 평균 값 - 전체 평균 평점
    
    아이템 편향 점수 = 아이템별 평점 평균 값 - 전체 평균 평점

### 1.8.5 교차 검증과 하이퍼 파라미터 튜닝

**cross_validate()**를 이용해 학습/검증 폴드 데이터 세트로 분리하여 교차 검증 수행

In [25]:
from surprise.model_selection import cross_validate

ratings = pd.read_csv('./data/ml-latest-small/ratings.csv')
reader = Reader(rating_scale=(0.5, 5))
data = Dataset.load_from_df(ratings[['userId','movieId','rating']], reader)

algo = SVD(random_state=0)
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8751  0.8693  0.8738  0.8741  0.8709  0.8727  0.0022
MAE (testset)     0.6749  0.6682  0.6715  0.6707  0.6660  0.6703  0.0030
Fit time          11.53   11.09   11.96   11.53   11.56   11.53   0.28
Test time         0.32    0.33    0.42    0.38    0.31    0.35    0.04

{'test_rmse': array([0.87510429, 0.86931816, 0.87381976, 0.87413296, 0.8709    ]),
 'test_mae': array([0.67491775, 0.66822793, 0.67147457, 0.67072758, 0.6659953 ]),
 'fit_time': (11.529452562332153,
  11.086789846420288,
  11.962640047073364,
  11.531458616256714,
  11.557740926742554),
 'test_time': (0.3231034278869629,
  0.3264598846435547,
  0.4208798408508301,
  0.38225245475769043,
  0.30823540687561035)}

**GridSearchCV**를 이용해 교차 검증을 통한 하이퍼 파라미터 최적화 수행

In [26]:
from surprise.model_selection import GridSearchCV

param_grid = {'n_epochs': [20,40,60], 'n_factors': [50,100,200]}

gs = GridSearchCV(SVD, param_grid, measures=['rmse','mae'], cv=3)
gs.fit(data)

print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.8784082878457156
{'n_epochs': 20, 'n_factors': 50}

### 1.8.6 Surprise를 이용한 개인화 영화 추천 시스템 구축

train_test_split()을 이용해 내부에서 사용하는 TrainSet 클래스 객체로 변환하지 않으면 fit()을 통해 학습할 수 없음

따라서 데이터 세트 전체를 학습 데이터로 사용하기 위해 **DatasetAutoFolds** 객체를 생성한 뒤 **build_full_trainset()** 메서드 호출

In [27]:
from surprise.dataset import DatasetAutoFolds

reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5,5))
data_folds = DatasetAutoFolds(ratings_file='./data/ml-latest-small/ratings_noh.csv', reader=reader)

train = data_folds.build_full_trainset()

In [28]:
algo = SVD(n_epochs=20, n_factors=50, random_state=0)
algo.fit(train)

userId 9가 아직 평점을 매기지 않은 영화를 movieId 42로 선정한 뒤 예측 평점 계산

In [29]:
movies = pd.read_csv('./data/ml-latest-small/movies.csv')

# userId 9의 movieId 데이터를 추출해 movieId=42 데이터가 있는지 확인
movieIds = ratings[ratings['userId']==9]['movieId']
if movieIds[movieIds==42].count() == 0:
    print('사용자 아이디 9는 영화 아이디 42의 평점 없음')
    
print(movies[movies['movieId']==42])

사용자 아이디 9는 영화 아이디 42의 평점 없음
    movieId                   title              genres
38       42  Dead Presidents (1995)  Action|Crime|Drama

In [30]:
uid = str(9)
iid = str(42)
pred = algo.predict(uid, iid, verbose=True)

user: 9          item: 42         r_ui = None   est = 3.13   {'was_impossible': False}

이제 사용자가 평점을 매기지 않은 전체 영화를 추출한 뒤에 예측 평점 순으로 영화 추천

In [31]:
def unseen_surprise(ratings, movies, userId):
    seen_movies = ratings[ratings['userId'] == userId]['movieId'].tolist()
    total_movies = movies['movieId'].tolist()
    unseen_movies = [movie for movie in total_movies if movie not in seen_movies]
    print('평점 매긴 영화 수: ', len(seen_movies), '추천 대상 영화 수: ', len(unseen_movies), '전체 영화 수: ', len(total_movies))
    return unseen_movies

unseen_movies = unseen_surprise(ratings, movies, 9)

평점 매긴 영화 수:  46 추천 대상 영화 수:  9696 전체 영화 수:  9742

In [38]:
def recomm_movie_by_surprise(algo, userId, unseen_movies, top_n=10):
    predictions = [algo.predict(str(userId), str(movieId)) for movieId in unseen_movies]
    
    # [Prediction(uid='9', iid='1', est=3.69), Predictions(uid ..., iid ..., est ...)]
    # 이를 est 값으로 정렬하기 위해 sortkey_est 함수 생성. list 객체의 sort() 함수 키 값으로 사용
    def sortkey_est(pred):
        return pred.est
    
    # sortkey_est() 반환값의 내림차순으로 정렬. top_n개의 최상위 값 추출
    predictions.sort(key=sortkey_est, reverse=True)
    top_predictions = predictions[:top_n]
    
    # top_n으로 추출된 영화의 정보 추출
    top_movie_ids = [int(pred.iid) for pred in top_predictions]
    top_movie_rating = [pred.est for pred in top_predictions]
    top_movie_titles = movies[movies.movieId.isin(top_movie_ids)]['title']
    
    top_movie_preds = [(id, title, rating) for id, title, rating in zip(top_movie_ids, top_movie_titles, top_movie_rating)]
    
    return top_movie_preds

unseen_movies = unseen_surprise(ratings, movies, 9)
top_movie_preds = recomm_movie_by_surprise(algo, 9, unseen_movies, top_n=10)

print('##### Top-10 추천 영화 리스트 #####')
for top_movie in top_movie_preds:
    print(top_movie[1], ":", top_movie[2])

평점 매긴 영화 수:  46 추천 대상 영화 수:  9696 전체 영화 수:  9742
##### Top-10 추천 영화 리스트 #####
Usual Suspects, The (1995) : 4.306302135700814
Star Wars: Episode IV - A New Hope (1977) : 4.281663842987387
Pulp Fiction (1994) : 4.278152632122759
Silence of the Lambs, The (1991) : 4.226073566460876
Godfather, The (1972) : 4.1918097904381995
Streetcar Named Desire, A (1951) : 4.154746591122658
Star Wars: Episode V - The Empire Strikes Back (1980) : 4.122016128534504
Star Wars: Episode VI - Return of the Jedi (1983) : 4.108009609093436
Goodfellas (1990) : 4.083464936588478
Glory (1989) : 4.07887165526957